{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-5xl font-extrabold mb-4 bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-purple-500">
        Bem-vindo ao site do {{ titulo_site }}!
    </h1>
    <p class="text-xl text-gray-300 max-w-3xl mx-auto">
        A equipe que representa a força e a garra da colina.
</div>

<div class="mt-16 grid md:grid-cols-2 gap-12 items-center">
    <div>
        <h2 class="text-3xl font-bold mb-4">Nossa História</h2>
        <p class="text-gray-400 mb-4">
            O Club de Regatas Vasco da Gama foi fundado em 1898, no Rio de Janeiro, por imigrantes portugueses, e iniciou como um clube de remo. 
            O departamento de futebol foi criado em 1915, e o clube rapidamente se destacou por incluir atletas negros e de classes sociais mais baixas, o que foi um ato revolucionário para a época. 
            O episódio da "Resistência Histórica" em 1924, quando o Vasco se recusou a excluir esses jogadores, tornou-se um marco na luta contra o racismo no futebol. 
            Desde então, o clube acumulou conquistas importantes, como as Libertadores de 1998 e o Campeonato Brasileiro de 1974, e é reconhecido por sua torcida fiel e pelo lema "O Vasco é o time do povo!". 
        </p>
    </div>
    <div class="rounded-lg overflow-hidden shadow-2xl">
        <img src="{% static 'images/SãoJanuario.webp' %}" alt="São Januario" class="mx-auto w-100 h-100 rounded-circle">
        <p class="text-gray-300 mb-1">O Estádio Vasco da Gama, mais conhecido como São Januário, é um estádio de futebol pertencente ao Club de Regatas Vasco da Gama, situado no bairro homônimo, Rio de Janeiro.</p>
    </div>
</div>
{% endblock %}
